.Title
{
    font-size: 5em;
    color: red;
}

/* Mobile */
.ProfileImage
{
    width: 100%;
}

/* Desktop */
@media only screen and (min-width: 768px)
{
    .ProfileImage
    {
        width: 20%;
        float: right;
    }
}